<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142214148388-j741aaofg2hoabh6v4rjsgh3gtvopmhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142214148388-j741aaofg2hoabh6v4rjsgh3gtvopmhs</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ3qJeeHn-P5-FNF8SeGCRy809XxnaIQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>142214148388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flas-chat-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>flas-chat-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142214148388:ios:71ec4102a4ca5e047983b1</string>
	<key>DATABASE_URL</key>
	<string>https://flas-chat-ios.firebaseio.com</string>
</dict>
</plist>